html, body {
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  background: white;
}

#editor {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
}

#editor > #canvas {
  flex: 1;
}

#editor > #properties {
  width: 400px;
}

.bio-properties-panel {
  background-color: var(--group-background-color);
  border-left: 1px solid var(--group-bottom-border-color);
}